.slideshow {
  position: relative;
  overflow: hidden;
  border-radius: .5rem;
  margin-bottom: 1rem;

  .squareImage {
    max-height: 85vh;
    display: block;
    width: 100%;
    opacity: 0;
  }

  .slideshow_content {
    position: absolute;
    display: block;
    top: 0;
    right: auto;
    bottom: 0;
    width: 100%;
    overflow: visible;
    border-radius: .5rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: left 1s;
    transition-delay: .3s;

    &.jump {
      transition: all 0s;
      //display: none;
    }
  }

  .slide {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, .9);
    border: 5px solid transparent;
    box-sizing: border-box;
  }

  .description {
    background-color: rgba(0, 10, 30, 0.5);
    color: #fff;
    font-size: 1.4rem;
    padding: 1rem 2rem;
    position: absolute;
    left: -.3rem;
    right: -.3rem;
    bottom: -.3rem;
    border-radius: .4rem;
    text-shadow: 0 0 2px rgba(0,0,0,.8);
    text-align: center;
  }
  .slideShadow {
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 0 5px -1px #000 inset;
    border-radius: 4px;

    &:after, &:before {
      content: "";
      position: absolute;
      right: 0;
      left: auto;
      width: 10px;
      top: -50%;
      bottom: -50%;
      background: radial-gradient(ellipse at 140% 50%, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0) 40%);
    }

    &:before {
      left: 0;
      right: auto;
      background: radial-gradient(ellipse at -40% 50%, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0) 40%);
    }
  }
}
