@import "../../scssCommon/boxes";

.pageStage {
  align-items: center;
  margin: 1rem 0;
  position: relative;
  justify-content: center;

  @media screen and (min-width: 48rem) {
    display: flex;
    margin: 3rem 4rem;
    flex-wrap: wrap;
  }

  &:after, &:before {
    position: absolute;
    right: 0;
    left: auto;
    width: 10px;
    top: -50%;
    bottom: -50%;
    background: radial-gradient(ellipse at 140% 50%, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0) 40%);
  }

  &:before {
    left: 0;
    right: auto;
    background: radial-gradient(ellipse at -40% 50%, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0) 40%);
  }
  > .flexChild {
    margin: 0 auto 1rem;

    @media screen and (min-width: 48rem) {
      flex: 1 0 30rem;
      align-self: flex-start;
      margin: 0 2rem 2rem;
    }
  }

  .report {
    @include textBox;
  }
  .slideshowContainer {
    flex-grow: 4;
    flex-basis: 50vw;
  }
  .trip, .label {
    font-weight: bold;
  }
  .trip {
    margin-bottom: 1rem;
  }
  h1 {
    font-size: 1.6rem;
    text-align: right;
  }

  h2 {
    font-size: 1.2rem;
  }
}
