@import "../../scssCommon/boxes";

.pageStage {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 3rem 4rem;
  position: relative;

  &:after, &:before {
    position: absolute;
    right: 0;
    left: auto;
    width: 10px;
    top: -50%;
    bottom: -50%;
    background: radial-gradient(ellipse at 140% 50%, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0) 40%);
  }

  &:before {
    left: 0;
    right: auto;
    background: radial-gradient(ellipse at -40% 50%, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0) 40%);
  }
  > .flexChild {
    flex: 1 0 30rem;
    align-self: flex-start;
    margin: 0 2rem 2rem;
  }

  .report {
    @include textBox;
  }
  .slideshowContainer {
    flex-grow: 4;
    flex-basis: 50vw;
  }
  h1 {
    font-size: 1.6rem;
    text-align: right;
  }

  h2 {
    font-size: 1.2rem;
  }
}
